body {
 font-size: 20px;
    font-family: Arial;
    margin: 0;
    background: #f5f1ea;
}

h1,h2{background-color:#7a4e2d;color:white;text-align:center;}
nav {
    background:#7a4e2d ;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 5px;
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;

}



table {
font-size: 20px;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}


table img {
    width: 150px;
    height: 120px;
   object-fit: cover;
    border-radius: 8px;
}


.gallery img {
    width: 300px;
    height: 300px;
   object-fit: cover;
    border-radius: 10px;
}

.about-img img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background:#8B0000;
    color: white;
    padding: 10px;
    border: none;
}
table img {
    width:180px;
height:150px;
object-fit: cover;
}
#footer {
    padding:5px;
    background:#f5e6d3;
    color:#7a4e2d;
    text-align: center;
    margin-top: 50px;
}
.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 300px;
  object-fit: cover;
    border-radius: 10px;
}



.about-table {
    width:100%;
    border-collapse: collapse; 
    background: #f5f1ea;
}

.about-table td {
    border: none;  
    padding: 20px;
    vertical-align: middle;
}

.about-text {
    font-size: 20px;
    line-height: 1.7;
    color: #333;
}

.about-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
th {
    color:#a67c52;
border: 1px solid #ccc;}

.offer-table {
    background-color: #f5e6d3;
    border-color: #c9a66b;
}

#feedback-form {
    width: 500px;
    margin: auto;

}



table {
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fffaf5;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}




tr:hover {
    background-color: #f2e6dc;
    transition: 0.3s;
}
 
form{background:#f5e6d3;}



